{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
	<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <button type="button" class="btn btn-primary" title="Shopping Cart" style="float: right; width:100px;font-size: 20px";
                    data-toggle="modal" data-target="#cartModal" >
                <span id="cart-item-count">0</span>
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            </button>
          <h3 class="text-center">Store</h3>
            <table class="table table-bordered table-hover table-responsive" id="shop-table">
                <thead>
                    <th>Item</th>
                    <th>Barcode</th>
					<th>Remaining Qty</th>
                    <th>Retail Price</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    {% for item in items %}
                    {% set total_inv = item.get_total_inv() %}
                    {% set retail_price = item.last_retail_price() %}
                    <tr>
                        <td>
                            <div {% if item.date_discontinued %} style="color: red" {% endif %}>
                                {{ item.item_name }}
                                {% if item.date_discontinued %} (Discontinued) {% endif %}
                            </div>
                            <div class="help-block">{{ item.description }}</div>
                        </td>
                        <td>{{ item.barcode }}</td>
                        <td>{{ total_inv }}</td>
                        <td>&#x20B1; {{ retail_price }}</td>
                        <td class="fit-cell">
                            <div style="width: fit-content">
                                <input class="form-control" id="item-{{ item.id }}-purchase-qty" data-item-id="{{ item.id }}"
                                   type="number" min="0" max="{{ total_inv }}" step="1" style="width: 30%;display: inline-block;">
                                <input class="form-control" id="item-{{ item.id }}-purchase-total" data-totalvalue="0" data-item-id="{{ item.id }}"
                                    style="width: 40%;display: inline-block;" readonly>
                                <button class="btn btn-danger" title="Add to cart"  style="width: 25%"
                                    id="item-{{ item.id }}-btn" data-itemId="{{ item.id }}" data-itemName="{{ item.item_name }}"
                                    data-barcode="{{ item.barcode }}" data-totalinv="{{ total_inv }}"
                                    data-retailprice="{{ retail_price}}" data-description="{{ item.description }}">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
	</div>
</div>

<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="cartModalLabel">Shopping Cart</h4>
      </div>
      <div class="modal-body">
            <div class="row" style="margin-bottom: 5px;">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <label for="barcode-input" class="control-label">Input barcode</label>
                    <div class="input-group">
                        <input class="form-control" type="text" id="barcode-input">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit" id="barcode-input-btn">Search</button>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 text-danger" id="barcode-input-error"></div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <table class="table table-bordered" id="modalTable">
                        <thead>
                            <th>Item</th>
                            <th>Pruchase Qty</th>
                            <th>Total</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label for="payment" class="control-label">Payment</label>
                    <input class="form-control" type="number" id="payment" step="0.1">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label for="change" class="control-label">Change</label>
                    <input class="form-control" id="change" readonly>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <label for="comment" class="control-label">Comments</label>
                    <input class="form-control" type="text" id="comment">
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="checkout-btn">Checkout</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block styles %}
{{ super() }}
<style>
    .fit-cell {
        width: 25%;
        white-space: nowrap;
    }
</style>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='JSPrintManager.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js"></script>
<script>
    $(document).ready( function () {
        $('#shop-table').DataTable();
        var item_dict = {}
        {% for item in items %}

            {% set total_inv = item.get_total_inv() %}
            {% set retail_price = item.last_retail_price() %}

            item_dict["{{item.barcode}}"] = {'name': "{{item.item_name}}",
                                'description': "{{item.description}}",
                                'total_inv': {{total_inv}},
                                'retail_price': {{retail_price}},
                                'id': {{item.id}}
                                }

            $("#item-{{ item.id }}-purchase-qty").change(function (){
                if (this.value > {{ total_inv }}){
                    this.value = {{ total_inv }};
                }
                var total{{ item.id }} = this.value * {{ retail_price }};
                $("#item-{{ item.id }}-purchase-total").val("\u20B1 " + (total{{ item.id }}.toFixed(2)));
                $("#item-{{ item.id }}-purchase-total").data('totalvalue', total{{ item.id }})
            });

            $("#item-{{ item.id }}-btn").click(function (event){
                var itemId = this.dataset.itemid
                var itemName = this.dataset.itemname
                var description = this.dataset.description
                var retailPrice = {{ retail_price }}
                console.log("itemId" + itemId)
                var purchaseQty = $('#item-' + itemId + '-purchase-qty').val()
                var purchaseTotal = $('#item-' + itemId + '-purchase-total').val()
                var purchaseTotalValue = parseInt(purchaseQty) * {{ retail_price }}

                if (purchaseQty > 0){
                    $('#modalTr{{ item.id }}').remove()
                    var tr = "<tr id='modalTr{{ item.id }}' class='modal-tr' data-item-id='{{ item.id }}' data-barcode='{{ item.barcode }}'" +
                        "       data-retail-price='{{ retail_price }}' data-total-value=" + purchaseTotalValue + " data-purchase-qty=" + purchaseQty + ">" +
                        "       <td class='modal-tr-item' data-item-id='{{ item.id }}' data-retail-price='{{ retail_price }}'>" +
                        "           <div>" + itemName + " @\u20B1 " + retailPrice + "</div>" +
                        "           <div class='help-block'>" + description + "</div>" +
                        "       </td>" +
                        "       <td class='modal-tr-qty' id='modal-tr{{ item.id }}-qty'>" + purchaseQty + "</td>" +
                        "       <td class='modal-tr-total' id='modal-tr{{ item.id }}-total' data-totalvalue=" + purchaseTotalValue + ">" + purchaseTotal + "</td>" +
                        "       <td><button type='button' class='btn btn-danger remove-item-btn' data-toggle='tooltip' title='Remove item'><span class=\"glyphicon glyphicon-trash\" aria-hidden=\"true\"></span></button></td>" +
                        "</tr>"

                    $('#modalTable tbody').append(tr);
                    $('#cart-item-count').html($('.modal-tr').length);
                }

            });


        {% endfor %}

        $('#cartModal').on('show.bs.modal', function () {
            var totalItems = 0
            var grandTotal = 0
            $('.modal-tr-qty').each(function(){
                totalItems += parseInt($(this).html());
            });
            $('.modal-tr-total').each(function(){
                grandTotal += parseFloat($(this).data('totalvalue'));
            });
            var totalTr = "<tr id='modalTotalRow'>" +
                    "       <td>Total: </td>" +
                    "       <td id='modalItemsTotal'>" + totalItems + "</td>" +
                    "       <td id='modalGrandTotal' data-totalvalue=" + grandTotal + ">\u20B1 " + grandTotal.toFixed(2) + "</td>" +
                    "</tr>"
                $('#modalTable tbody').append(totalTr)
        })

        $('#cartModal').on('hide.bs.modal', function () {
            $('#modalTotalRow').remove()
        })

        $('#modalTable').on('click', '.remove-item-btn',  function (event){
            $(this).parent().parent().remove()
            var totalItems = 0
            var grandTotal = 0
            $('.modal-tr-qty').each(function(){
                totalItems += parseInt($(this).html());
            });
            $('.modal-tr-total').each(function(){
                grandTotal += parseFloat($(this).data('totalvalue'));
            });
            var totalTr = "<tr id='modalTotalRow'>" +
                    "       <td>Total: </td>" +
                    "       <td id='modalItemsTotal'>" + totalItems + "</td>" +
                    "       <td id='modalGrandTotal' data-totalvalue=" + grandTotal + ">\u20B1 " + grandTotal.toFixed(2) + "</td>" +
                    "</tr>"
            $('#modalTotalRow').remove()
            $('#modalTable tbody').append(totalTr)
            $('#cart-item-count').html($('.modal-tr').length)
        })


        $('#payment').change(function (){
            console.log(this.value)
            var grandTotal = $("#modalTable").find("#modalGrandTotal").data('totalvalue')
            $('#change').val("\u20B1 " + (this.value - grandTotal).toFixed(2))
        })


        $(document).keypress(function (e){
            if (e.keyCode === 13){
                if ($('#cartModal.in').length > 0){
                    $('#barcode-input-btn').click();
                }
            }
        });

        $('#barcode-input-btn').click(function (){
            $('#barcode-input-error').html("");
            var item_q = item_dict[$('#barcode-input').val()];
            var item_qty_q = parseInt($('#modalItemsTotal').html());
            var item_total_q = parseFloat($('#modalGrandTotal').data('totalvalue'));

            if ($('#modalTr' + item_q.id).length > 0){
                var curr_qty = parseInt($('#modal-tr' + item_q.id + '-qty').html());
                var curr_total = (curr_qty + 1) * item_q.retail_price;
                if (item_q.total_inv >= (curr_qty + 1)){
                    $('#modalTr' + item_q.id).data('total-value', curr_total);
                    $('#modalTr' + item_q.id).data('purchase-qty', curr_qty + 1);
                    $('#modal-tr' + item_q.id + '-qty').html((curr_qty + 1));
                    $('#modal-tr' + item_q.id + '-total').html("\u20B1 " + curr_total.toFixed(2));
                    $('#modal-tr' + item_q.id + '-total').data('totalvalue', curr_total);

                    $('#modalItemsTotal').html(item_qty_q + 1);
                    $('#modalGrandTotal').html("\u20B1 " + (item_total_q + item_q.retail_price).toFixed(2));
                    $('#modalGrandTotal').data('totalvalue', item_total_q + item_q.retail_price)
                }
                else {
                    $('#barcode-input-error').html("Insufficient amount in inventory for " + item_q.name);
                }
            }
            else if ($('#modalTr' + item_q.id).length < 1){
                if (item_q.total_inv > 0){
                    var tr = "<tr id='modalTr" + item_q.id + "' class='modal-tr' data-item-id='" + item_q.id + "' " +
                    "       data-retail-price='" + item_q.retail_price + "' data-total-value='" + item_q.retail_price + "' data-purchase-qty='1'>" +
                    "       <td class='modal-tr-item' data-item-id='" + item_q.id + "' data-retail-price='" + item_q.retail_price + "'>" +
                    "           <div>" + item_q.name + " @\u20B1 " + item_q.retail_price + "</div>" +
                    "           <div class='help-block'>" + item_q.description + "</div>" +
                    "       </td>" +
                    "       <td class='modal-tr-qty' id='modal-tr" + item_q.id + "-qty'>1</td>" +
                    "       <td class='modal-tr-total' id='modal-tr" + item_q.id + "-total' data-totalvalue=" + item_q.retail_price + ">\u20B1 " + (item_q.retail_price).toFixed(2) + "</td>" +
                    "       <td><button type='button' class='btn btn-danger remove-item-btn' data-toggle='tooltip' title='Remove item'><span class=\"glyphicon glyphicon-trash\" aria-hidden=\"true\"></span></button></td>" +
                    "</tr>"
                    $('#modalTable tr:last').before(tr);
                    $('#cart-item-count').html($('.modal-tr').length)

                    $('#modalItemsTotal').html(item_qty_q + 1);
                    $('#modalGrandTotal').html("\u20B1 " + (item_total_q + item_q.retail_price).toFixed(2));
                    $('#modalGrandTotal').data('totalvalue', item_total_q + item_q.retail_price)
                }
                else {
                    $('#barcode-input-error').html("Insufficient amount in inventory for " + item_q.name);
                }
            }
        });


        $SCRIPT_ROOT = {{ request.script_root|tojson }};

        var receiptItems = ""
        var receiptTotal = ""
        var receiptTotalItems = ""
        var receiptPaid = ""
        var receiptChange = ""

        $('#checkout-btn').click(function (){
            var data = []
            var comment = $("#comment").val()
            $('.modal-tr').each(function(){
                var itemId = $(this).data('item-id')
                var quantity = $(this).data('purchase-qty')
                var totalValue = $(this).data('total-value')
                var retailPrice = $(this).data('retail-price')
                var barcode = $(this).data('barcode')
                receiptItems += `${item_dict[barcode].name} (${barcode}) \x0A\x09 ${quantity} @ \u20B1${(item_dict[barcode].retail_price).toFixed(2)}/ea \x09\x09\x09 \u20B1${totalValue.toFixed(2)} \x0A`
                data.push({"item_id": itemId,
                            "quantity": quantity,
                            "total_cost": totalValue,
                            "price_per_piece": parseFloat(retailPrice)
                })
            });
            data.push({"comment": comment})

            receiptTotalItems = $('#modalItemsTotal').html()
            receiptTotal = $('#modalGrandTotal').html()
            receiptPaid = $('#payment').val()
            receiptChange = $('#change').val()
            printReceipt();
            /*$.ajax({
                url: "{{ url_for('checkout_items')}}",
                data: JSON.stringify(data),
                contentType: "application/json",
                type: 'POST',
                success: function(response){
                    window.location.href = window.location.href;
                    printReceipt();
                },
                error: function(error){
                    console.log(error);
                }
            });*/
        })


        function jspmWSStatus() {
            if (JSPM.JSPrintManager.websocket_status == JSPM.WSStatus.Open)
                return true;
            else if (JSPM.JSPrintManager.websocket_status == JSPM.WSStatus.Closed) {
                alert('JSPrintManager (JSPM) is not installed or not running! Download JSPM Client App from https://neodynamic.com/downloads/jspm');
                return false;
            }
            else if (JSPM.JSPrintManager.websocket_status == JSPM.WSStatus.Blocked) {
                alert('JSPM has blocked this website!');
                return false;
            }
        }

        function printReceipt(o) {
            if (jspmWSStatus()) {
                //Create a ClientPrintJob
                var cpj = new JSPM.ClientPrintJob();
                //Set Printer type (Refer to the help, there many of them!)
                if ($('#useDefaultPrinter').prop('checked')) {
                    cpj.clientPrinter = new JSPM.DefaultPrinter();
                } /*else {
                    cpj.clientPrinter = new JSPM.InstalledPrinter($('#installedPrinterName').val());
                }*/
                //Set content to print...
                //Create ESP/POS commands for sample label
                var esc = '\x1B'; //ESC byte in hex notation
                var newLine = '\x0A'; //LF byte in hex notation

                var cmds = esc + "@"; //Initializes the printer (ESC @)
                cmds += esc + '!' + '\x38'; //Emphasized + Double-height + Double-width mode selected (ESC ! (8 + 16 + 32)) 56 dec => 38 hex
                cmds += 'RICO\'S STORE'; //text to print
                cmds += newLine + newLine;
                cmds += esc + '!' + '\x00'; //Character font A selected (ESC ! 0)
                cmds += receiptItems;
                // cmds += 'COOKIES                   5.00';
                // cmds += newLine;
                // cmds += 'MILK 65 Fl oz             3.78';
                cmds += newLine + newLine;
                // cmds += 'SUBTOTAL                  8.78';
                // cmds += newLine;
                // cmds += 'TAX 5%                    0.44';
                // cmds += newLine;
                cmds += `TOTAL                     ${receiptTotal}`;
                cmds += newLine;
                cmds += `CASH PAID                ${receiptPaid}`;
                cmds += newLine;
                cmds += `CHANGE                  ${receiptChange}`;
                cmds += newLine + newLine;
                cmds += esc + '!' + '\x18'; //Emphasized + Double-height mode selected (ESC ! (16 + 8)) 24 dec => 18 hex
                cmds += `NUMBER OF ITEMS = ${receiptTotalItems}`;
                cmds += esc + '!' + '\x00'; //Character font A selected (ESC ! 0)
                cmds += newLine + newLine;
                cmds += '{{datetime_now.strftime("%b %d, %Y %H:%M")}}';
                cmds += '\x09\x09\x09THANK YOU'

                cpj.printerCommands = cmds;
                //Send print job to printer!
                cpj.sendToClient();
            }
        }

    } );
</script>

{% endblock %}