{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
    <h3>Update Retail Price</h3>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4">
            <h4>Item name: {{ item.item_name }}</h4>
            <h4>Description: {{ item.description }}</h4>
            <h4>Barcode: {{ item.barcode }}</h4>
            <h4>Last retail price: {{ item.last_retail_price() }}</h4>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          {{ wtf.quick_form(form) }}
        </div>
	</div>
</div>
{% endblock %}